<div class="container">
  <div class="row">
    <div class="col-md-10 offset-1" style="margin-top:30px; ">
      <h1 class="border-bottom">商品詳細</h1>
    </div>
  <div class="col-md-2 offset-1" style="text-align: light;">
     <table class="table table-hover">
      <tr>
        <% if @item.image.attached? %>
          <%= image_tag @item.image, class: "thumb-200-200" %>
        <% else %>
          <%= image_tag 'no_image_jpg', class: "thumb-200-200"%>
        <% end %>
      </tr>
     </table>
  </div>
  <div class="col-md-8 offset-1" style="text-align: light;">
    <table class="table">
        <tr>
          <th>商品名</th>
          <td><%= @item.name %></td>
        </tr>
        <tr>
          <th>商品説明</th>
          <td><%= @item.introduction %></td>
        </tr>
        <tr>
          <th>税込価格<br>(税抜価格) </th>
          <td>
           <%= @item.with_tax_price.to_s(:delimited) %>円<br>
           <%= @item.price.to_s(:delimited) %>円
          </td>
        </tr>
        <tr>
          <th>販売ステータス</th>
          <td class="font-weight-bold text-success">
            <% if @item.is_active %> <%# is_activeの情報を取得して在庫があるかチェック %> 
              販売中 <%# trueの表示がでる %>
            <% else %>
              販売停止中<%# falseの表示がでる %>
            <% end %>
          </td>
        </tr>
    </table>
      <div class="col-md-10 offset-1" style="text-align: right;">
        <%= link_to '編集', edit_admin_item_path(@item), class: "btn btn-success" %>
        <%= link_to '削除', admin_items_destroy_path(@item), method: :delete, class: "btn btn-danger" %>
      </div>
  </div>
</div>