
<div class="container">
  <div class="row">
    <div class="col-md-10 offset-1" style="margin-top:30px; ">
      <h1 class="border-bottom">会員情報編集画面</h1>
    </div>
    <div class="col-md-10 offset-1" style="margin-top:30px; ">
      <%= form_with model: @customer, url: admin_customer_path(@customer.id), method: :patch do |f| %>
       <table class="table">
          <tbody>
            <tr><td>会員ID</td><td><%= @customer.id %></td></tr>
              <tr><td>氏名</td><td><%= f.text_field :last_name %> <%= f.text_field :first_name %></td></tr>
                <tr><td>フリガナ</td><td><%= f.text_field :last_name_kana %> <%= f.text_field :first_name_kana %></td></tr>
                  <tr><td>郵便番号</td><td><%= f.text_field :postal_code %></td></tr>
                  <tr><td>住所</td><td><%= f.text_field :address, size: "47x5" %></td></tr>
                <tr><td>電話番号</td><td><%= f.text_field :phone_number %></td></tr>
              <tr><td>メールアドレス</td><td><%= f.text_field :email %></td></tr>
                <tr><td>会員ステータス</td><td>
              <%# is_deleted(退会フラグ)がfalse(初期値)なら'有効' %>
              <%= f.radio_button :is_deleted, :false %>
              <%= f.label :is_deleted, "有効" %>
              <%# is_deleted(退会フラグ)がtrue(退会処理済み)なら'退会' %>
              <%= f.radio_button :is_deleted, :true %>
              <%= f.label :is_deleted, "退会" %>
            </td></tr>
          </tbody>
       </table>
     <div class="col-md-10 offset-1" style="text-align:right; margin-top:30px; ">
       <%= f.submit '変更を保存', class: "btn btn-dark" %>
     </div>
<% end %>
    </div>
</div>