<div class="container">
  <div class="col-md-10 offset-1" style="margin-top:30px; ">
    <h1 class="border-bottom">注文履歴詳細</h1>
     <table class="table">
      <thead>
        <tr>
          <th>購入者</th>
           <th>配送先</th>
           <th>支払い方法</th>
          <th>注文ステータス</th>
        </tr>
      </thead>
      <tbody>
        <td><%= @order.customer.last_name %><%= @order.customer.first_name %>
         </td>
         <td>〒<%= @order.customer.postal_code %><br>
              <%= @order.customer.address %>
            <%= @order.name %>
         </td>
        <td><%= @order.payment_method_i18n %></td>
        <td>
           <%= form_for @order, url: admin_order_path(@order) do |f| %>
            <%= f.select :status, Order.statuses_i18n.invert %>
            <%= f.submit '更新'  ,class: "btn btn-success" %>
           <% end %>
        </td>
      </tbody>
     </table>
  </div>
  <div class="col-md-10 offset-1" style="margin-top:30px; ">
    <h1 class="border-bottom">注文内容</h1>
     <table class="table">
       <tr>
        <th>商品名</th>
         <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
         <th>製作ステータス</th>
        <th></th>
      </tr>
      <%  @order_details.each do |order_detail| %>
        <tr>
          <td><%= order_detail.item.name %></td>
          <td><%= (order_detail.item.price * 1.1).floor.to_s(:delimited, delimiter: ',') %>円</td>
          <td><%= order_detail.amount %></td>
          <td><%= ((order_detail.item.price * 1.1).floor * (order_detail.amount)).to_s(:delimited, delimiter: ',') %>円</td>
          <td>
            <%= form_for order_detail, url: admin_order_detail_path(order_detail) do |f| %>
              <%= f.select :making_status, OrderDetail.making_statuses_i18n.invert %>
              <%= f.submit '更新'  ,class: "btn btn-success" %>
            <% end %>
          </td>
        </tr>
      <% end %>
     </table>
  </div>
  <div class="d-flex align-items-end justify-content-end mr-5">
    <table class="float-right" cellpadding="5">
      <tr class="border-top">
        <th><h6>商品合計</h6></th>
        
        <td><h6>
          <%  @order_details.each do |order_detail| %>
           <%= ((order_detail.item.price * 1.1).floor * (order_detail.amount)).to_s(:delimited, delimiter: ',') %>円</h6></td>
          
      </tr>
      <tr>
        <th><h6>送料</h6></th>
        <td><h6><%= @order_postage %>円</h6></td>
      </tr>
          <% end %>
    </table>
  </div>