<% if @address.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class='container'>
  <div class='row'>
    <div class="col-md-10 offset-1" style="text-align: center;margin-top:30px; ">
      <h2 class="border-bottom">配送先登録</h2>
    </div>
    <div class="col-md-10 offset-1" style="text-align: center;margin-top:30px; ">
      <%= form_with model: @address, url: addresses_path(@address), method: :post do |f| %>
        <table class="table table-hover">
          <tr>
            <th>〒(ハイフンなし)</th>
            <td>
              <%= f.text_field :postal_code,:size=>"40" %>
            </td>
          </tr>
          <tr>
            <th>住所</th>
            <td>
              <%= f.text_field :address,:size=>"40" %>
            </td>
          </tr>
          <tr>
            <th>名前(お届け先)</th>
            <td>
              <%= f.text_field :name,:size=>"40" %>
            </td>
          </tr>
        </table>
        <%= f.submit "新規登録", class: "btn btn-danger" %>
          <% end %>
    </div>
  </div>
  <div class="col-md-10 offset-1" style="text-align: center;margin-top:50px; ">
    <h2 class="border-bottom">配送先一覧</h2>
    <table class="table">
      <thead class="table">
        <tr>
          <th>郵便番号</th>
          <th>住所</th>
          <th>宛名</th>
          <th></th>
          <th></th>
        </tr>
        </thred>
        <tbody>
          <% @addresses.each do |address| %>
            <tr>
              <td>
                〒<%= address.postal_code %>
              </td>
              <td>
                <%= address.address %>
              </td>
              <td>
                <%= address.name %>様
              </td>
              <td>
                <p>
                  <%= link_to"編集する", edit_address_path(address), class: "btn btn-secondary" %>
                    <%= link_to"削除する", address_path(address),method: :delete, data: { confirm: "本当に削除しますか？"}, class: "btn btn-secondary" %>
                </p>
              </td>
            </tr>
            <% end %>
        </tbody>
    </table>
  </div>
</div>
</div>