<div class="container">
    <div class="row">
      <div class="col-md-10 offset-1" style="text-align: center;margin-top:30px; ">
        <h2 class="border-bottom">ログイン</h2>
      </div>
      <div class="col-md-7 offset-1" style="margin-top:30px; ">
        <h10>会員登録が済んでいる方</10>
          <table class="formdetail_ customer_">
           <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
             <%= render "public/shared/error_messages", resource: resource %>
         <tbody>
           <table class="table">
             <tr>
               <th><i class="bi bi-envelope"><%= f.label :email %></i></th>
                <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
             </tr>
             <tr>
               <th><i class="bi bi-key"><%= f.label :password %></i></th>
               <td><%= f.password_field :password, autocomplete: "current-password" %></td>
             </tr>
            </table>
         </tbody>
        
             <% if devise_mapping.rememberable? %>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :パスワードを登録する %>
              </div>
             <% end %>
             <div class="actions" style="margin-top: 35px;">
                <button type="submit" class="btn btn-danger">ログイン</button>
             </div>
        <% end %>
        </div>
            <div class="col-md-4" style="margin-top:30px; ">
              <h10><span class="border-bottom">まだ会員登録されていない方</span></h10>
              <div class="actions" style="margin-top: 40px;">
                  <p>会員登録の３つのメリット</p>
                      <p>
                        １．商品情報をいち早くお届け<br>
                        ２．簡単にできます<br>
                        ３．おいしい特産物で食品ロスの削減に貢献
                      </p>
              </div>
              <div class="actions" style="margin-top: 40px;">
                   <button type="button" class="btn btn-outline-danger">
                     <%= link_to "新規会員登録", new_customer_registration_path %>
                   </button>
              </div>
            </div>
              <%= render "public/shared/links" %>
    </div>
  </div>
</div>

<!--ログアウト機能の実装次第、新規登録画面へのフォームも実装する-->