<h1>商品詳細画面</h1>

<div class='col-md-3 'style="text-align: center;margin-top: 50px;">
        <% if @item.image.attached? %>
          <%= image_tag @item.image, size: "150x150" %>
        <% else %>
          <%= image_tag 'no_image', size: "150x150" %>
        <% end %>
</div>
      <div class="col-md-6 "style="margin-top: 50px;">
      
          <h3 class="font-weight-bold my-5"><%= @item.name %></h3>
          <p><%= @item.introduction %></p>
          <h3 class="font-weight-bold mt-5">￥<%= @item.add_tax_price.to_s(:delimited) %><span style="font-size:15px;">(税込)</span></h3>
          <p>￥<%= @item.price.to_s(:delimited) %>(税抜)</p>
          <%# カート機能 %>  
          <%= form_with model: @cart_item,url: public_cart_items_path, method: :post do |f| %>
            <%# 会員であるか確認%>
            <% if customer_signed_in? %>
              <%# 商品情報の値を送る %>
              <%= f.hidden_field :item_id, :value =>@item.id %>
              <div class="cart_item" style="text-align: right;">
                <%# 個数入力フォーム %>
                <span style="font-size:20px;">
                  <%= f.select :amount, *[1..10] %>　
                </span>
                <%= f.submit "カートに入れる", class:"btn btn-outline-success btn-lg" %>
              </div>
            <% else %>
              <div class="button" style="text-align: right;">
                <%= link_to "購入するには会員登録が必要です",  new_customer_registration_path,class: "btn btn-outline-primary" %>
              </div>
            <% end %>
          <% end %>