  <nav class="navbar is-warning">
      <div class="navbar-brand">
        <div class="col-md-10">
          <%= link_to root_path, class: "navbar-item" do %>  <!--文字にリンクを埋め込む実装コード-->
            <%= image_tag 'logo2.jpg', size: "100x100" %>
          <% end %>
          <small><%#= current_customer.last_name %>
            &emsp;いつもご利用いただきありがとうございます。</small>
        </div>
      </div>
    
      <% if customer_signed_in? %>
        <div id="navbarExampleTransparentExample" class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="field is-grouped">
                  <i class="bi bi-person" style="margin-right:30px;">
                    <%= link_to "マイページ", public_customer_path(current_customer), class: "button is-warning is-light" %>
                  </i>
                <!--<p class="control">-->
                <!--  <%#= link_to "お気に入り商品", public_item_favorite_path(current_customer), class: "navbar-item button is-warning is-light" %>-->
                <!--</p>-->
                  <i class="bi bi-cart3" style="margin-right:30px;">
                  <%= link_to "おかいものかご", public_cart_items_path, class: "navbar-item button is-warning is-light" %>
                  </i>
                  <i class="bi bi-box-arrow-left" style="margin-right:30px;">
                  <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "button is-warning is-light" %>
                  </i>
            </div>
          </div>
        </div>
      <% else %>
        <div id="navbarExampleTransparentExample" class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="field is-grouped">
                    <i class="bi bi-cart3" style="margin-right:30px;">
                      <%= link_to "おかいものかご", public_cart_items_path, class: "navbar-item button is-warning is-light" %>
                    </i>
                    <i class="bi bi-box-arrow-in-right" style="margin-right:30px;">
                      <%= link_to "ログイン", new_customer_session_path, class: "button is-warning is-light" %>
                    </i>
                    <i class="bi bi-person-plus" style="margin-right:30px;">
                      <%= link_to "新規登録", new_customer_registration_path, class: "button is-warning is-light" %>
                    </i>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </nav>