<!DOCTYPE html>
<html>
  <head>
    <title>MachiokoshiApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha256-UzFD2WYH2U1dQpKDjjZK72VtPeWP50NoJjd26rnAdUI=" crossorigin="anonymous" />
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <% if flash[:notice] %>
     <div class="notification is-info">
      <p class="notice"><%= notice %></p>
     </div>
    <% end %>
    
    <% if flash[:notice] %>
     <div class="notification is-info">
       <p class="alert"><%= alert %></p>
     </div>
    <% end %>
    
    <%= render 'public/homes/header_inner' %>
    
    <%= yield %>
    
    <footer>
      <%= render 'layouts/footer' %>
    </footer>
    
  </body>
</html>
